{% extends 'base.html.twig' %}

{% block title %}Modifier la station - {{ weather_station.name }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Modifier la station</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('app_weather_station_show', {'macAddress': weather_station.macAddress}) }}" class="btn btn-secondary">Annuler</a>
    {{ form_end(form) }}
</div>
{% endblock %}
